.container {

  text-align: center;
}

h1 {
  text-align: center;
}

#button {
  font-size: 30px;
  border-radius: 4px;
  transition-duration: 0.4s;
  padding: 16px;
}

#button:focus {
  outline:none;
  box-shadow: none;
}

#button:hover {
  background-color: #f44336;
}